html, body{
	height: 100%;
	margin: 0;
	display: flex;	
}
todo-item{
	display: flex;
	border: solid 1px lightgrey;
	border-radius: 5px;
	margin-bottom: 5px;
}

todo-item h3{
	flex: 1 1;
	margin: 0;
}

.item-status{
	padding: 14px;
	margin: 6px;
	border-right: dotted 1px grey;
	display: flex;
	align-items: center; 
}

.item-info{
	flex-direction: column;
	flex: 1 1;
}

.do-not-show .completed{
	display: none;
}
.completed .item-info{
	text-decoration: line-through;
	color: lightgrey;
}

.item-actions{
	align-items: center;
	display: flex;
	padding: 10px;
}

.item-actions i{
	cursor: pointer;
}

.item-info p{
	margin: 3px 0;
}

add-item fieldset{
	display: flex;
	border-radius: 5px;
}

add-item label{
	flex: 1 1;
	margin: 5px 0 0 ;
}

add-item button{
	margin-top: 5px;
}

todo-item.editing{
	padding: 20px;
	align-items: center;
	flex-wrap: wrap;
}

todo-item.editing label{
	width: 15%;
}
todo-item.editing .form-control{
	flex: 1 1;
	width: 80%;
	min-width: 80%;
	margin-bottom: 5px;
}

todo-heading{
	display: flex;
	align-items: center;
}

todo-heading h1{
	width: 300px;
}

todo-heading div{
	flex: 0.7 1;
	flex-direction: column;
	display: flex;
}
todo-app{
	display: flex;
	width: 100%;
}
todo-app > div{
	width: 667px;
}